{% extends "base/base.html" %}
{% load static %}
{% block title %} Dashboard {% endblock %}

{% block titlepage %} Encuesta {{ encuesta }} {% endblock %}

{% block customurl %}
    {% for i in encuestas %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'backoffice:list_encuesta' i.id %}">
          <i class="fas fa-fw fa-table"></i>
          <span>{{ i }}</span>
        </a>
    </li>
    {% endfor %}
{% endblock %}

{% block content %}
<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
  <thead>
    <tr>
      <th>Nombres</th>
      <th>Apellidos</th>
      <th>Edad</th>
      <th>Genero</th>
      <th>Ciudad</th>
      <th>tiene_hijos</th>
      <th>edad_hijos</th>
      <th>genero_hijo</th>
      {% for p in preguntas %}
        <th >{{ p }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tfoot>
    <tr>
        <th>Nombres</th>
        <th>Apellidos</th>
        <th>Edad</th>
        <th>Genero</th>
        <th>Ciudad</th>
        <th>tiene_hijos</th>
        <th>edad_hijos</th>
        <th>genero_hijo</th>
        {% for p in preguntas %}
          <th >{{ p }}</th>
        {% endfor %}
    </tr>
  </tfoot>
  <tbody>
    
  </tbody>
</table>
{% endblock %}

{% block js %}
<script src="{% static "back/vendor/datatables/jquery.dataTables.min.js"%}"></script>
<script src="{% static "back/vendor/datatables/dataTables.bootstrap4.min.js"%}"></script>
<script>

    $(document).ready(function() {
        $('#dataTable').DataTable( {
            "serverSide": true,
            "processing": true,
            ajax: "/backoffice/encuestalist/1/",
            columns: [
                { data: 'nombres' },
                { data: 'apellidos' },
                { data: 'edad' },
                { data: 'genero' },
                { data: 'ciudad' },
                { data: 'tiene_hijos' },
                { data: 'edad_hijos' },
                { data: 'genero_hijos' },
                { data: '3' },
                { data: '2' },
                { data: '3' },
                { data: '4' },
            ]
        } );
    });
    
</script>
{% endblock %}
